### Unsupervised ML

In [1]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'hvplot'

In [2]:
# Load the crypto_data.csv dataset.
avocado_mock_df = pd.read_csv("Resources/MockDataset_Avocado_ML.csv")
avocado_mock_df.head(10)

,REGION (city),LATITUDE,LONGITUDE,DATE (Month + Year),4046 Units sold,4225 Units,4770 Units,Bags sold,CLIMATE_CA_pcp,CLIMATE_CA_tmin,...,PERU PRODUCTION,COLUMBIA PRODUCTION,IMPORTS BY VALUE ($1000),IMPORTS BY VOLUME (1000 LBS),IMPORTS UNIT VALUE ($ PER POUND),EXPORTS BY VALUE ($1000),EXPORTS BY VOLUME (1000 LBS),EXPORTS UNIT VALUE ($ PER POUND),MEDIAN INCOME,PRICE
0,Los Angeles,34.0522,118.2437,1/1/2017,1223299.39,829896.69,56808.74,1441332.35,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,"64,251",0.84
1,San Diego,32.7157,117.1611,1/1/2017,149666.20,206181.12,15014.45,189448.58,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,"74,855",0.93
2,San Francisco,37.7749,122.4194,1/1/2017,260100.73,717625.67,2490.66,66958.27,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,"104,552",0.95
3,Sacramento,38.5816,121.4944,1/1/2017,144876.31,339664.16,660.97,41564.20,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,"63,902",0.98
4,Los Angeles,34.0522,118.2437,2/1/2017,5470227.08,1741607.02,937331.61,2701609.82,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,"64,251",0.53
5,San Diego,32.7157,117.1611,2/1/2017,260418.91,290223.93,20313.95,321784.08,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,"74,855",0.63
6,San Francisco,37.7749,122.4194,2/1/2017,560686.25,900172.65,21331.13,75785.02,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,"104,552",0.84
7,Sacramento,38.5816,121.4944,2/1/2017,321474.22,418158.93,11962.44,57213.28,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,"63,902",0.98
8,Los Angeles,34.0522,118.2437,3/1/2017,2768930.88,897311.08,518369.51,1269943.15,2.19,37.2,...,0,0,224948272,171411.0822,1.312332,4549077,2623.655244,1.733870,"64,251",0.99
9,San Diego,32.7157,117.1611,3/1/2017,163424.69,176304.67,19186.14,158785.76,2.19,37.2,...,0,0,224948272,171411.0822,1.312332,4549077,2623.655244,1.733870,"74,855",1.04

In [3]:
# Check data types
avocado_mock_df.dtypes

REGION (city)                        object
LATITUDE                            float64
LONGITUDE                           float64
DATE (Month + Year)                  object
4046 Units sold                     float64
4225 Units                          float64
4770 Units                          float64
Bags sold                           float64
CLIMATE_CA_pcp                      float64
CLIMATE_CA_tmin                     float64
CLIMATE_CA_tmax                     float64
TOTAL_VOLUME                          int64
CALIFORNIA PRODUCTION                 int64
CHILE PRODUCTION                      int64
MEXICO PRODUCTION                     int64
PERU PRODUCTION                       int64
COLUMBIA PRODUCTION                   int64
IMPORTS BY VALUE ($1000)              int64
IMPORTS BY VOLUME (1000 LBS)        float64
IMPORTS UNIT VALUE ($ PER POUND)    float64
EXPORTS BY VALUE ($1000)              int64
EXPORTS BY VOLUME (1000 LBS)        float64
EXPORTS UNIT VALUE ($ PER POUND)    float64
MEDIAN INCOME                        object
PRICE                               float64
dtype: object

In [5]:
# Count Null values
#avocado_mock_df.isnull().sum()

In [7]:
# Use get_dummies() to create variables for text features.
X = pd.get_dummies(avocado_mock_df,  columns=["REGION (city)","DATE (Month + Year)"])
print(X.shape)
X.head(10)

(12, 30)

,LATITUDE,LONGITUDE,4046 Units sold,4225 Units,4770 Units,Bags sold,CLIMATE_CA_pcp,CLIMATE_CA_tmin,CLIMATE_CA_tmax,TOTAL_VOLUME,...,EXPORTS UNIT VALUE ($ PER POUND),MEDIAN INCOME,PRICE,REGION (city)_Los Angeles,REGION (city)_Sacramento,REGION (city)_San Diego,REGION (city)_San Francisco,DATE (Month + Year)_1/1/2017,DATE (Month + Year)_2/1/2017,DATE (Month + Year)_3/1/2017
0,34.0522,118.2437,1223299.39,829896.69,56808.74,1441332.35,6.48,36.6,53.7,45670156,...,1.670540,"64,251",0.84,1,0,0,0,1,0,0
1,32.7157,117.1611,149666.20,206181.12,15014.45,189448.58,6.48,36.6,53.7,45670156,...,1.670540,"74,855",0.93,0,0,1,0,1,0,0
2,37.7749,122.4194,260100.73,717625.67,2490.66,66958.27,6.48,36.6,53.7,45670156,...,1.670540,"104,552",0.95,0,0,0,1,1,0,0
3,38.5816,121.4944,144876.31,339664.16,660.97,41564.20,6.48,36.6,53.7,45670156,...,1.670540,"63,902",0.98,0,1,0,0,1,0,0
4,34.0522,118.2437,5470227.08,1741607.02,937331.61,2701609.82,3.65,37.5,56.1,47371481,...,1.513309,"64,251",0.53,1,0,0,0,0,1,0
5,32.7157,117.1611,260418.91,290223.93,20313.95,321784.08,3.65,37.5,56.1,47371481,...,1.513309,"74,855",0.63,0,0,1,0,0,1,0
6,37.7749,122.4194,560686.25,900172.65,21331.13,75785.02,3.65,37.5,56.1,47371481,...,1.513309,"104,552",0.84,0,0,0,1,0,1,0
7,38.5816,121.4944,321474.22,418158.93,11962.44,57213.28,3.65,37.5,56.1,47371481,...,1.513309,"63,902",0.98,0,1,0,0,0,1,0
8,34.0522,118.2437,2768930.88,897311.08,518369.51,1269943.15,2.19,37.2,60.9,50628975,...,1.733870,"64,251",0.99,1,0,0,0,0,0,1
9,32.7157,117.1611,163424.69,176304.67,19186.14,158785.76,2.19,37.2,60.9,50628975,...,1.733870,"74,855",1.04,0,0,1,0,0,0,1

In [8]:
# Standardize the data with StandardScaler().
avocado_mock_df_scaled = StandardScaler().fit_transform(X)
avocado_mock_df_scaled[0:5]

NameError: name 'StandardScaler' is not defined

In [ ]:
# Using PCA to reduce dimension to three principal components.
pca = PCA(n_components=3)
crypto_pca = pca.fit_transform(crypto_scaled)
crypto_pca